/*!
 * Clean v1.0.0
 * Homepage: http://webcooking.pro
 * Copyright 2018 Eduards Leimanis
 * Licensed 
*/
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lobster");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #666; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(8, min-content);
  grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] 12fr [center-end] minmax(5rem, 1fr) [full-end]; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #E7746F;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #999; }

/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .5rem;
  margin: .5rem 0 .5rem;
  color: white;
  font-size: 4rem; }

h2 {
  font-size: 3rem;
  margin: 0 0 3rem; }

h3 {
  font-size: 1.3rem;
  letter-spacing: .1rem;
  margin: 0 0 .5rem; }

h4 {
  font-size: 1.2rem;
  letter-spacing: .1rem; }

h5 {
  font-size: 1.2rem;
  letter-spacing: .1rem;
  font-weight: 400; }

h6 {
  font-size: 1.2rem;
  letter-spacing: .1rem;
  font-weight: 400; }

#preloader {
  background-color: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 9999; }

#status {
  background-image: url(../img/preloader.gif);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 200rem;
  height: 200rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.home {
  grid-column: full-start / full-end;
  background: url(../img/cover.jpg);
  background-color: #222;
  height: 100vh;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 0; }
  .home-overlay {
    background-color: rgba(44, 62, 80, 0.3);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1; }
  .home__heading {
    color: #fff;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%;
    z-index: 11; }
  .home__start {
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    text-transform: none;
    margin: 1.5rem 0; }

.scroll-down {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  text-align: center; }
  .scroll-down span {
    position: relative;
    color: white;
    font-size: 1.5rem;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running; }

@-webkit-keyframes drop {
  0% {
    top: 0px;
    opacity: 0; }
  30% {
    top: 10px;
    opacity: 1; }
  100% {
    top: 25px;
    opacity: 0; } }

@keyframes drop {
  0% {
    top: 0px;
    opacity: 0; }
  30% {
    top: 10px;
    opacity: 1; }
  100% {
    top: 25px;
    opacity: 0; } }

.nav {
  background-color: white;
  position: sticky;
  top: 0;
  padding: 2rem;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 1fr 4fr;
  box-sizing: border-box;
  z-index: 9000; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      grid-template-columns: 1fr; } }
  .nav__name {
    margin-left: 10%;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3rem;
    font-family: Lobster, cursive; }
    @media only screen and (max-width: 50em) {
      .nav__name {
        font-size: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .nav__name {
        display: none; } }
  .nav__list {
    display: block;
    margin-right: 2vw;
    text-transform: uppercase;
    list-style: none;
    display: grid;
    align-content: center;
    justify-items: right;
    grid-template-columns: repeat(6, 1fr); }
    @media only screen and (max-width: 50em) {
      .nav__list {
        justify-items: center; } }
  .nav__link {
    display: block;
    font-size: 1.1rem;
    letter-spacing: .2rem;
    color: #222; }
    @media only screen and (max-width: 37.5em) {
      .nav__link {
        font-size: 1rem;
        letter-spacing: .1rem; } }
  .nav__active {
    background: none;
    outline: 0;
    color: #E7746F; }
  .nav__link:hover, .nav__link:active, .nav__link:focus {
    background: none;
    outline: 0;
    color: #E7746F; }

.services {
  background-color: gray;
  grid-column: full-start / full-end;
  background: #f5f5f5;
  display: grid;
  grid-template-columns: 9% repeat(4, 1fr) 9%;
  padding: 15rem 0; }
  @media only screen and (max-width: 62.5em) {
    .services {
      padding: 12rem 0; } }
  .services-header {
    color: #222;
    font-weight: 800;
    font-size: 3rem; }
  .services-line {
    background: rgba(135, 135, 135, 0.5);
    width: 10rem;
    height: .1rem;
    margin: 3rem auto; }
  .services-subtitle {
    font-size: 1.8rem;
    font-weight: normal; }
  .services__header {
    grid-column: 1 / -1;
    text-align: center;
    margin: 8rem 0;
    transition: all 2s; }
  .services__item {
    grid-column: 2 / 6;
    grid-column-gap: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); }
    @media only screen and (max-width: 62.5em) {
      .services__item {
        grid-column-gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); } }
    @media only screen and (max-width: 50em) {
      .services__item {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .services__item {
        grid-template-columns: 1fr;
        grid-gap: 1.5rem; } }
  .services__icon {
    font-size: 3rem; }
  .services__text {
    padding: 6rem 2rem;
    display: grid;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
    background-color: white;
    text-align: center;
    font: 300 1.4rem/1.8 'Raleway', sans-serif;
    color: #666;
    border-bottom: 1px solid #d4d4d4; }
    @media only screen and (max-width: 62.5em) {
      .services__text {
        padding: 3rem 2rem; } }
  .services__title {
    font-size: 1.6rem;
    text-align: center;
    color: #222;
    font-weight: 700; }

.portfolio {
  background-color: gray;
  grid-column: center-start / center-end; }

.skills {
  background-color: gray;
  grid-column: center-start / center-end; }

.calltoaction {
  background-color: gray;
  grid-column: full-start / full-end; }

.testimonials {
  background-color: gray;
  grid-column: center-start / center-end; }

.contact {
  background-color: gray;
  grid-column: center-start / center-end; }

.footer {
  background-color: gray;
  grid-column: center-start / center-end; }
